.directory-container {
  display: flex;
  height: 100%;
  
  .contact-list-container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
  }

  .contact-container-detail {
    flex-grow: 1;
    -webkit-box-shadow: -7px 0px 5px -9px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 0px 5px -9px rgba(0,0,0,0.75);
    box-shadow: -7px 0px 5px -9px rgba(0,0,0,0.75);
  }
 
}
