<div class="contact-detail-wrapper">

  <section class="detail-container">
    <section class="contact-header">
      <div class="image-header">
        <span>{{contact?.name?.substring(0,1)}}</span>
      </div>
      <p>{{contact?.name}} {{contact?.lastName}}</p>
    </section>
    <section class="contact-info">

      <div class="label">
          <label> Tipo Identificación</label>   
          <label> Identicación</label>   
          <label> Edad</label>   
          <label> Teléfono</label>   
      </div>
      <div class="contact-detail">
        <p>{{contact?.idType}}</p>
        <p>{{contact?.identification}}</p>
        <p>{{contact?.age}}</p>
        <p>{{contact?.phone}}</p>
      </div>
    </section>
  
    <button type="button" class="validate-button" (click)="validateContact(contact)"> Validate</button>
  </section>
</div>