<section class="directory-container">
  <section class="contact-list-container">
    <app-contact-list [contactsList]="tempContactsList$ | async" [highlightContact]="selectedContact" (selectedContact)="selectContact($event)">
    </app-contact-list>
    <div class="button" (click)="addContact()">
      <span class="icon add"></span>
    </div>
    <!-- <button >Add</button> -->
  </section>
  <section class="contact-container-detail">
    <app-contact-detail *ngIf="!shouldCreateContact && (tempContactsList$ | async)?.length > 0" [contact]="selectedContact" (validate)="validateContact($event)"></app-contact-detail>
    <!-- create contact component -->
    <app-create-contact *ngIf="shouldCreateContact" (createContact)="createContact($event)" (cancel)="cancelCreation()"></app-create-contact>
  </section>

</section>